<template>
    <div>
        <p>status : {{ status }}</p>
        <hr>
        <button @click="changeStatus">Change Status</button>
    </div>
</template>

<script>
export default {
  data: function () {
    return {
      status: 'hieu'
    }
  },
  methods: {
    changeStatus: function () {
      this.status = 'Normal'
    }
  }
}
</script>
