<template>
    <div>
        <input type="text" v-model="search" placeholder="Search.."/>
        <input type="text" v-model="pagination" placeholder="Pagination.."/>
        <table v-bind:style="{border: border1}">
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
            </tr>
            <tr v-for="(item, index) in paginatedData" v-bind="item.id">
                <td>{{ index + 1 }}</td>
                <td v-for="i in item" v-bind="i.id">
                    {{ i }}
                </td>
            </tr>
        </table>

        <button @click="prevPage" :disabled="pageNumber==0">
            Previous
        </button>
        <button @click="nextPage" :disabled="pageNumber == pageCount -1 ">
            Next
        </button>
    </div>
</template>

<script>
export default {
  data: function () {
    return {
      search: '',
      // totalPage: 0,
      // itemPage: 3,
      pagination: '',
      // currentPage: 0,
      // pageSize: 3,
      pageNumber: 0,
      border1: '1px solid black',
      array: [
        {
          'name': 'Nguyen van b',
          'age': 'age1',
          'address': 'address1'
        },
        {
          'name': 'Nguyen van a',
          'age': 'age1',
          'address': 'address1'
        },
        {
          'name': 'Dam quang hieu',
          'age': '21',
          'address': 'address2'
        },
        {
          'name': 'name3',
          'age': 'age3',
          'address': 'address3'
        },
        {
          'name': 'name4',
          'age': 'age4',
          'address': 'address4'
        },
        {
          'name': 'name5',
          'age': 'age5',
          'address': 'address5'
        },
        {
          'name': 'name6',
          'age': 'age6',
          'address': 'address6'
        },
        {
          'name': 'name7',
          'age': 'age7',
          'address': 'address7'
        },
        {
          'name': 'name8',
          'age': 'age8',
          'address': 'address8'
        }

      ]

    }
  },
  props: {
    pageCount: Number,
    default: 0
  },
  computed: {
    pageCount: function () {
      var l = this.array.length
      var s = this.pagination
      return Math.floor(l / s)
    },
    paginatedData: function () {
      var start = this.pageNumber * this.pagination
      var end = start + parseInt(this.pagination)
      if (this.pagination === '') { return this.searchMethods() }
      return this.searchMethods().slice(start, end)
    }
  },
  methods: {
    searchMethods: function () {
      return this.array.filter(item => {
        var data = item.name.toLowerCase().includes(this.search.toLowerCase()) +
            item.age.toLowerCase().includes(this.search.toLowerCase()) +
            item.address.toLowerCase().includes(this.search.toLowerCase())
        return data
      })
    },
    nextPage: function () {
      this.pageNumber++
    },
    prevPage: function () {
      this.pageNumber--
    }
  }
}
</script>

<style>
    tr, td, table, th {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 20px 40px;
    }

    li {
        display: inline;
    }

</style>
