<template>
    <div>
        <table-array></table-array>
    </div>
</template>

<script>
import Table from './components/Table.vue'

export default {
  components: {
    'table-array': Table
  }
}
</script>
